
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, p {
    font-family: 'Poppins', sans-serif;
}
.main {
    display: flex;
}
.heading {
    min-width: 1000px;
    flex: 1;
}
.heading {
    font-weight: 700;
    min-width: 800px;
    background-color: red;
}
.sContainer, .sContainer1 {
    display: flex;
}
.topLeft, .bottomLeft {
    font-weight: 400;
    min-height: 25vh;
    background-color: blue;
    flex: 2;
}
.topRight, .bottomRight {
    font-weight: 400;
    min-height: 25vh;
    flex: 1;
    background-color: rgb(112, 165, 42);
}